:root{
    font-size: 62.5%;
    background-color: #333;
    font-family: Alata;
}

header{
    background-color: #222;
    padding: 1rem;
    font-size: 1.8rem;
}

.container{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

header nav.container{
    display: flex;
    justify-content: space-between;
}

header nav.container a{
    color: #fafafa;
    text-decoration: none;
    padding: .5rem;
    display: flex;
    flex-direction: column;
}

header nav.container a::after{
    content: '';
    height: .2rem;
    width: 0;
    background-color: currentColor;
    transition: width .2s, opacity .2s;
    opacity: 0;
}

header nav.container a:hover::after{
    width: 100%;
    opacity: 1;
}

header nav.container a:last-child{
    align-items: flex-end;
}

#sct-4-hmpg{
    text-align: center;
    padding: 2rem 1rem;
}

#sct-4-hmpg h2{
    font-size: 3.2rem;
    margin-bottom: 2rem;
    color: yellow;
}

#sct-4-hmpg .wolf-item{
    display: flex;
    padding: 1rem 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#sct-4-hmpg .wolf-item:nth-child(even){
    flex-direction: row-reverse;
}

#sct-4-hmpg .wolf-item > *{
    width: 50%;
    flex-grow: 1;
    padding: 1rem;
    box-sizing: border-box;
}

#sct-4-hmpg .wolf-item img{
    max-width: 100%;
    box-shadow: -1rem -1rem 0 -.2rem #2C5680, -1rem -1rem yellow;
}
#sct-4-hmpg .wolf-item:nth-child(even) img{
    box-shadow: 1rem -1rem 0 -.2rem#2C5680, 1rem -1rem yellow;
}

#sct-4-hmpg .wolf-item .text-show-wolf{
    --texto : 1.6rem;
    font-size: var(--texto);
    min-width: 30ch;
    color: #fafafa;
}

#sct-4-hmpg .wolf-item .text-show-wolf h3{
    font-size: 2.8rem;
    font-weight: 600;
}

#sct-4-hmpg .wolf-item .text-show-wolf p{
    margin-top: var(--texto);
    line-height: 1.5;
}